html {
  font-family: sans-serif;
}
body {
  text-align: center;
 
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  margin: 10px auto;
  box-shadow: 1px 1px 8px 2px darkgray;
}
thead tr th {
  background-color: forestgreen;
  padding: 20px 30px;
  font-size: 1.6rem;
  font-weight: bold;
}
.small-head th {
  background-color: lightgreen;
  font-size: 1.4rem;
}
.small-head th:first-child {
  background-color: forestgreen;
  border: 0px;
}

.small-head th {
  border: 1px solid rgba(1,1,1, .3);
}

tbody tr th, tbody tr td {
  border: 1px solid rgba(1,1,1, .3);
  padding: 10px 30px;
  font-size: 1.2rem;
}

tbody tr:nth-child(even){
  background-color: rgba(2,2,2, .2);
}

caption {
  padding: 10px;
  caption-side: bottom;
  font-size: 0.8rem;
}
