@media (min-width: 32.5em) {
  #header-logo {
    width: 150px;
    height: auto;
  }
  .grid-con {
    grid-column-gap: 2.5rem;
    padding: 10px;
    justify-content: space-evenly;
  }
  .banner {
    width: 98%;
    font-size: 1.5rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
  .title h2 {
    font-size: 1.8rem;
  }
  #menu-btn {
    width: 70px;
    height: auto;
    font-size: 2.5rem;
  }
  .nav-list li a {
    font-size: 2rem;
  }
  .nav-list li {
    padding: 14px;
  }
  .social {
    width: 80px;
    height: auto;
  }
  .date {
    font-size: 1.8rem;
    padding: 10px;
  }

  /*Main css from here */
  main.home-page {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  .news p,
  .events p,
  .weather p,
  .company p {
    font-size: 1rem;
  }
  .news h2,
  .events h2,
  .weather h2,
  .company h2 {
    font-size: 1.7rem;
  }
  .hero h2 {
    font-size: 2.2rem;
  }
  .events {
    margin-right: 10px;
  }
  .weather h2 {
    margin-bottom: 2rem;
    position: absolute;
    top: -10px;
    right: 60px;
  }
  .hero {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hero a {
    font-size: 2rem;
    padding: 1rem;
  }
  .news {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .spotlight {
    grid-column: 1/3;
    grid-row: 3/4;
    flex-direction: row;
  }
  .spotlight1 {
    width: 50%;
    height: auto;
  }
  .spotlight2 {
    width: 50%;
    height: auto;
  }
  .join {
    display: block;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .join h2 {
    display: none;
  }
  .join p {
    font-size: 1.5rem;
  }
  .lm {
    text-decoration: none;
    color: aqua;
  }
  .join-lk {
    display: block;
    width: 95%;
    font-size: 2rem;
    margin: 15px auto;
    box-shadow: 1px 1px 8px 4px rgba(3, 3, 3, 0.4);
  }
  .top-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .foot-logo {
    display: flex;
  }
  .base-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.2rem;
    align-items: center;
  }
  .base-footer p {
    border-right: 1px solid #fff;
    padding: 0px;
  }
  .base-footer p:nth-child(4) {
    grid-column: 1/4;
    grid-row: 2/3;
    border: none;
  }
  .name h2 {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  .name p {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  .contact p {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
  #footer-logo {
    width: 160px;
  }
  .map {
    font-size: 1.5rem;
  }
  /* discovery page css */
  .image-information h2 {
    font-size: 2rem;
  }
  .image-information p {
    font-size: 1.7rem;
  }
  .places {
    display: flex;
    padding: 0;
  }
  .places-image {
    width: 70%;
    height: 100%;
    margin: 15px 10px;
  }
  .places-image img:hover {
    box-shadow: 2px 2px 7px 6px black;
  }
  .image-information {
    width: 30%;
  }
  /* --- Join page css declaration --- */
  main div.welcome-mgs {
    padding: 0.8rem;
  }
  main div.welcome-mgs h2 {
    font-size: 1.8rem;
  }
  main div.welcome-mgs p {
    font-size: 1.5rem;
}
/* table div section */

  .tablesection {
    width: 600px;
    border-radius: 10px;
  }
  caption {
    font-size: 1.2rem;
  }
  .tablesection table thead .mainh th {
    font-size: 1.8rem;
  }
  .tablesection table thead .level-row th {
    padding: 0.8rem 0.8rem;
  }
  /* ---table body--- */
  tbody tr th,
  tbody tr td {
    padding: 0.6rem 0.2rem;
  }
  .you-get {
    font-size: 1.5rem;
  }
  .not-free {
    font-size: 1.5rem;
  }

  /* -the form div css-- */
  .joinform {
    max-width: 600px;
    padding: 0.8rem;
  }
  form label.block {
    font-size: 1.4rem;
    padding-top: 1.6rem;
  }
  form label.block input,
  form label.block select {
    font-size: 1.8rem;
  }
  form input#submitbtn {
    padding: 1.4rem;
    margin: 1rem 0 0.8rem 4%;
    width: 90%;
    font-size: 1.8rem;
  }
  /*Thank you page*/
  main.thankyou p {
  padding: .8rem;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

/* the directory page css declarations */
.companies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.companies section h4, .companies section p {
  text-shadow: 1px 1px 4px #000;
}
.companies section a {
  color: #0ff;
  text-shadow: 1px 1px 4px #000;
}
.companies section a:hover {
  color: #000;
}
.companies section {
  box-shadow: 1px 1px 6px 3px #555;
}

/* contact us page medium css */
main.contact-main div.contact-us{
  width: 60%;
}
main.contact-main h2 {
 font-size: 2.4rem;
}
main.contact-main p {
  font-size: 1.3rem;

}
main.contact-main h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 1.8rem;
}
.form-area label, .form-area div, .top {
  font-size: 1.4rem;
}
.top, textarea {
  width: 80% ;
  margin-top: .8rem ;
  margin-bottom: 2rem;
  padding: 0.75rem;
  font-size: 1.5rem;
}
main.contact-main .form-area h3 {
  text-align: center;
  margin-top: 7rem;
  font-size: 1.4rem;
}
.form-area hr {
  width: 60%;

}
#note {
  font-size: 1.1rem;
  margin: 1.2rem auto;

}
#submit-btn {
  width: 80%;
  padding: 1.4rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  background-color: #000;



}
}
